//********************************************************************\\
//*      ___|^___^|___      .-~*´¨¯¨¯¯¨¯¨`*~-.     ___|^___^|___     *\\
//*     |   Meibbo   |     |  Vaultman v1.0  |    |  May 2026  |     *\\
//*     \___/`*´\___/      `-~*´¨¯¨¯¯¨¯¨`*~-´     \___/`*´\___/      *\\
//*                                                                  *\\
//*           Made with love for tools that last and help.           *\\
//*                                                                  *\\
//*     (づ￣ 3￣)づ    ☆*: .｡. o(≧▽≦)o .｡.:*☆     ╰(*°▽°*)╯      *\\
//********************************************************************\\

//...--------———————————(   Dev dependencies   )——————————---------...\\

#  & compiled work
.vscode/
node_modules/
node_modules.partial/
dist/
coverage/
**/stress-vault/
stress-test-data/
main.js
styles.css
data.json
settings.local.json
.DS_Store
.env
.log
//...----------—————————————(   CodeQL   )————————————------------...\\
# codeql/tests/
codeql-db/
*.sarif